/*/////the menu begins////*/
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:black;
    animation-name: changer;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes changer{
    from{background-color: darkblue;}
    to{background-color: black;}
}

nav{
    display: flex;
    padding: 08px 20px;
   justify-content: space-between;
    color: white;
}

.menu{
    border: solid rgba(255, 255, 255, 0.582);
    padding: 10px;
    border-radius: 10px;
    
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-size: 20px;
}
 @media (max-width:600){
    header{
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
    nav{
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
 }
.menu:hover{
    padding: 5px 5px;
    color: black;
    border-radius: 20px;
    background-color: rgba(240, 255, 255, 0.562);

}
.menu a:hover{
    color: darkblue;
}

.menu:active{
    color: red;
}

.menu::after{
    color: green;
}
.LOGINbtn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

/*////// hero begins/////////////// */ 
.hero-container{
    padding: 100px 100px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1615554851544-e6249b92a492?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8TXVzaWMlMjBTdHJlYW1pbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500');
}

.hero{
    color: white;
    box-shadow: 5px 5px 5px 5px;
    padding: 60px 60px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    background-image: linear-gradient(to top, rgba(0, 0, 139, 0.568), rgba(0, 0, 0, 0.658));

}
.hero h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero p{
    font-size:  1.4rem;
    margin-bottom: 3rem;
}
.Startgtn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
}
.Startgtn:hover{
    background-color: transparent;
    color: white;
}
.joingtn{
    background-color: rgb(95, 145, 160);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px;
}
.joingtn:hover{
    background-color: transparent;
    color: blue; 
}

@media (max-width: 600px){
    .hero-container{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

     .hero{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

}

/*/////our services///*/
.our-services-con{
    text-align: center;
   padding: 100px 100px;
   color: black;
   background-image: url('https://plus.unsplash.com/premium_photo-1679513691474-73102089c117?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8TXVzaWMlMjBTdHJlYW1pbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500');
   background-repeat: no-repeat;
   background-size: cover;
}
.serviee{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
}
.services{
    box-shadow: 3px 3px 3px 3px rgba(216, 18, 18, 0.315);
    gap: 60px;
    padding: 30px 30px;
    border-radius: 30px;
}
.services:hover{
    background-color: rgba(157, 167, 212, 0.384);
    color: white;
    padding: 50px 30px;
}

@media (max-width: 600px){
    .our-services-con{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

     .serviee{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

}



.footters{
    padding: 30px 30px;
    background-color: wheat;
    text-align: center;
 }  

 .footter-details{
    display: grid;
    grid-template-columns: auto auto;
 }
 .links{
    display: grid;
    grid-template-rows: 6;
 }
.links a{
    color: rgb(24, 23, 23);
    text-decoration: none
}